{% if flash_error %}
    <div class="rj-alert rj-alert--danger">
        <i data-lucide="circle-x"></i>
        <div class="rj-alert__body">{{ flash_error }}</div>
    </div>
{% endif %}
{% if flash_success %}
    <div class="rj-alert rj-alert--success">
        <i data-lucide="check-circle-2"></i>
        <div class="rj-alert__body">{{ flash_success }}</div>
    </div>
{% endif %}
