<span class="rj-sidebar__label">Partner</span>
<div class="rj-sidebar__section">
    <a href="/partner" class="rj-sidebar__link{% if active == 'dashboard' %} is-active{% endif %}">
        <i data-lucide="handshake"></i> Dashboard
    </a>
    <a href="/partner/orgs/new" class="rj-sidebar__link{% if active == 'org-new' %} is-active{% endif %}">
        <i data-lucide="plus"></i> New organization
    </a>
</div>
