<span class="rj-sidebar__label">Sounds Like Us</span>
<div class="rj-sidebar__section">
    <a href="/slu" class="rj-sidebar__link{% if active == 'analyze' %} is-active{% endif %}">
        <i data-lucide="sparkles"></i> Analyze
    </a>
    <a href="/slu/history" class="rj-sidebar__link{% if active == 'history' %} is-active{% endif %}">
        <i data-lucide="clock"></i> Your analyses
    </a>
</div>
